<!doctype html>
<html>
<head>
	<title>Work Out List</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	{{{body}}}
	<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>