<h2>Edit Workout Info</h2>
<div>
<form id="form">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <label for="weight">Weight</label>
    <input type="number" id="weight" name="weight">

    <label for="lbs">Lbs(1) / Kgs(0)</label>
    <input type="number" id="lbs" name="lbs">

    <label for="reps">Reps</label>
    <input type="number" id="reps" name="reps">

    <label for="date">Date yyy-mm-dd</label>
    <input type="text" id="date" name="date">
</form>
<input id="submit" type="submit" value="Save" onclick="save()"/>
</div>